.aboutPage{
    background-image:url(../assets/aboutBackground.jpg);
    height:100vh;
    background-size: cover;
    background-position: left;
    padding-top: 100px;
    position: relative;
    font-family:$fontOne;

    img {
        width:400px;
        border:2px solid $secondaryLight;
        box-shadow: -25px 25px $primaryDark;
    }
 
    .aboutContainer{
        display: flex;

        p {
            font-size: 1.8rem;
            padding-right: 100px;
            letter-spacing: 2px;
            line-height: 30px;
            margin-top: 25px ;
        }
    }

    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        text-transform: uppercase;
    }

    button {
        margin-top:40px;
    }


}