
html {
    font-size:62.5%;
}

body {
    background-image:url(../assets/backgroundImage.jpg);
    // background-size: cover;
    // background-position: center;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}