
header {
    background-image:url(../assets/homeBackground.jpg);
    height:100vh;
    background-size: cover;
    background-position: left;
    font-family:$fontOne;
    position: relative;

    nav,
    h1,
    .pageNumber {
        text-transform: uppercase;
    }

    h1,
    h2 {
        letter-spacing: 2px;
    }

    h1 {
        font-size:6rem;
        color:$primaryDark;
    }

    h2 {
        font-size:4rem;
        color: $accentColor;
        margin-top: 5px;
    }

    .heading {
        margin-left: 220px;
        margin-top: 220px;
    }

    ul {
        display: flex;
        justify-content: end;
        padding-top:40px;

        li {
            margin-left: 40px;
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
            color:$primaryDark;
            border-bottom: 2px solid $primaryDark;
        }

        a:hover {
            color:$accentColor;
            border-bottom: 2px solid $accentColor;
        }
    }

    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        
    }

    .bottomHeader {
        display: flex;
        position: absolute;
        right: 90px;
        bottom: 65px;
        transform: rotate(90deg);

        p {
            font-size: 1.5rem;
            animation: scrollDown 1s infinite;
            position:absolute;
            left:-80px;
        }

        @keyframes scrollDown {
            0% {left:-80px}
            50%{left:-75px} 
            100%{left:-80px}
        }

        .designLine {
            width:70px;
            height:2px;
            background-color: $primaryDark;
            margin-top: 7px;
            margin-left:10px;
        }
    }


}

