@media(max-width:1445px) {
    // Page Numbers
    header,
    .aboutPage,
    .projectsPage,
    .skillsPage,
    .contactPage {
        .pageNumber {
            bottom: 85px;
            left: 130px;
           
        }

    }
}


@media (max-width:1075px) {
    //About Page
    .aboutPage {
        
        .aboutContainer{

            p {
                font-size: 1.5rem;
            }
        }

        button {
            margin-top:20px;
        }

        img {
            width:310px;
        }
        
    }   
}

@media(max-width:860px) {
    //About Page
    .aboutPage {
        
        .aboutContainer{

            p {
                font-size: 1.3rem;
                line-height: 23px;
                padding-right:45px;
            }
        }

        img {
            width:220px;
        }
    }   

    // Projects Page
    .projectOneInfo,
    .projectTwoInfo,
    .projectThreeInfo {
        margin-left:220px
    }
}

@media (max-width:760px){

    //Page Number 
     header,
    .aboutPage,
    .projectsPage,
    .skillsPage,
    .contactPage {
        .pageNumber {
            display: none;
           
        }

    }
    // Header
    header {
        background-image: $homePageMobile;

        ul {
            justify-content: space-evenly;

            li {
                margin-left:0px;
            }
        }

        .heading {
            margin-left:62px;
        }

        // .bottomHeader {
        //     height:5%;
        //     margin-top:47.5%;
        //     margin-bottom:47.5%;
        // }
    }

    //About Page
    .aboutPage {
        padding-top: 50px;
        background-image: $aboutPageMobile;

        .aboutContainer {
            flex-direction: column-reverse;
            justify-content: center;
            align-content:center ;

            p {
                padding-right: 0px;
                text-align: center;
            }

            .textButton{
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            img {
                margin-left:35%;
                margin-bottom:30px;
            }
        }
    }

    //Projects Page 

    .projectsPage {
        background-image: $projectsPageMobile;

        .projectOne,
        .projectTwo,
        .projectThree {
            h3 {
                margin-left:0px;
                padding-left:20px;
            }
    
            p {
                font-size:1.5rem;
                // width:100%;
            }
        }

        .projectOneInfo,
        .projectTwoInfo,
        .projectThreeInfo {
            width:100%;
            right:0px;
            padding-right:20px;
            padding-left: 20px;

            p {
                span {
                    display: unset;
                }
            }
        }
    }


    //Skills Page
    .skillsPage {
       background-image: $skillsPageMobile; 
    }

    //Contact Page
    .contactPage {
        background-image: $contactPageMobile;
    }
}

@media (max-width:635px){

    //Contact Page 
    .contactPage {
        // padding-top: 0px;
        .contactContainer{
            margin-top: 0px;
            flex-direction: column;

            .contactInfo {
                width:100%;
                margin-top: 0px;
                margin-bottom: 30px;
    
            }
        }
        .form-box {

            textarea {
                line-height: 14px;
            }

        }
    }
}