.projectsPage {
    background-image:$projectsPage;
    height:100vh;
    background-size: cover;
    background-position: left;
    padding-top: 50px;
    position: relative;
    font-family:$fontOne;
    display: flex;
    flex-direction: column;

    .projectOne,
    .projectTwo,
    .projectThree {
        color:$primaryDark;
        // padding-bottom: 30px;

        h3 {
            font-size: 4rem;
            letter-spacing: 2px;
            margin-left:110px;
            padding-left:30px;
            text-transform: uppercase;
            border-bottom:2px solid transparent;
            transition: all ease-in 0.15s;
        }

        p {
            font-size:1.5rem;
        }
    }

    .projectOne:hover,
    .projectTwo:hover,
    .projectThree:hover {

        h3 {
            color:$accentColor;
            border-bottom:2px solid $primaryDark;
        }
    }

    .projectOneInfo,
    .projectTwoInfo,
    .projectThreeInfo {
        position: absolute;
        margin-top:20px;
        text-align: center;
        right:200px;
        

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            margin-bottom: 10px;
            line-height: 20px;
            width:100%;

            span {
                display: block;
                width:100%;
            }
        }

        button {
            margin-top:10px;
            margin-right:20px;
        }
    
     
    }

    .projectFocus {
        width:100%;
        background-color: blue;
    }


    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        text-transform: uppercase;
    }






}