.projectsPage {
    background-image:url(../assets/projectsBackground.jpg);
    height:100vh;
    background-size: cover;
    background-position: left;
    padding-top: 50px;
    position: relative;
    font-family:$fontOne;
    display: flex;
    flex-direction: column;

    .projectOne,
    .projectTwo,
    .projectThree {
        color:$primaryDark;
        margin-bottom:30px;
        padding-bottom: 150px;


        // .circle {
        //     width:15px;
        //     height:15px;
        //     background-color: $primaryDark;
        //     border-radius: 50%;
        //     position: absolute;
        // }
       

        h3 {
            font-size: 3.5rem;
            letter-spacing: 2px;
            margin-left:110px;
            padding-left:30px;
            text-transform: uppercase;
            border-bottom:2px solid transparent;
        }

        p {
            font-size:1.5rem;
        }

        // h3:hover {
        //     color:$accentColor;
        // }
    }

    .projectOne:hover,
    .projectTwo:hover,
    .projectThree:hover {

        h3 {
            color:$accentColor;
            border-bottom:2px solid $primaryDark;
        }
    }

    .projectOneInfo,
    .projectTwoInfo,
    .projectThreeInfo {
        position: absolute;
        margin-top:20px;
        right:120px;

        .buttons {
            text-align: center;
        }
    }

    .projectFocus {
        width:100%;
        background-color: blue;
    }

    // .projectInfo{
    //     display: none;
    // }

    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        text-transform: uppercase;
    }






}