.projectsPage {
    background-image:url(../assets/projectsBackground.jpg);
    height:100vh;
    background-size: cover;
    background-position: left;
    padding-top: 50px;
    position: relative;
    font-family:$fontOne;
    display: flex;
    flex-direction: column;

    .projectOne,
    .projectTwo,
    .projectThree {
        color:red;
        margin-bottom:80px;
        padding-bottom: 50px;
    }

    .projectFocus {
        width:100%;
        background-color: blue;
       
    }

    // .projectInfo{
    //     display: none;
    // }

    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        text-transform: uppercase;
    }






}