.skillsPage {
    background-image:$skillsPage;
    height:100vh;
    background-size: cover;
    background-position: left;
    padding-top: 40px;
    position: relative;
    font-family:$fontOne;
    text-transform: uppercase;


    .pageNumber {
        color:$primaryDark;
        position: absolute;
        letter-spacing: 8px;
        bottom: 75px;
        left: 130px;
        font-size: 5rem;
        
    }

    .skillsContainer {
        background-color: $primaryLight;
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
        height:450px;
        border:2px solid $secondaryLight;
        box-shadow: -25px 25px $primaryDark;
        display: flex;
        // flex-direction: column;
        text-align: center;
        justify-content: space-evenly;


        .columnOne,
        .columnTwo,
        .columnThree,
        .columnFour {
            margin-top: 10px;
            font-size: 1.5rem;
            // text-align: center;


        }


        span {
            display: block;
        }

        .skillIcon {
            
            margin-top:50px;

            img {
                width:45px;
                height:45px;
                // width: 100%;
                // height: 100%;
                margin-bottom: 20px;
                color:$primaryDark;
            }
        }
    }

}