// Fonts

$fontOne:'Hammersmith One', sans-serif;
// $fontTwo:;


// Colors


$primaryDark:#252525;
$primaryLight:#FFFFFF;

$secondaryDark:#B7B7B7;
$secondaryLight:#D8D8D8;

$accentColor:rgb(130, 201, 231);